@import "tailwindcss";

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

blockquote {
  @apply border-l-5 pl-4 font-light sm:text-xl border-gray-200 py-2;
}

.blur-xs {
  filter: blur(1px); /* You can adjust the pixel value for an even smaller blur */
}

@media (max-width: 1000px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    padding: 2rem;
    /* gap: 9.5rem; Adds space between grid items */

  }
}

@media (min-width: 1000px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}
