---
import Container from '../../components/Container.astro';
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
import Sponsorships from '../../components/Sponsorships.astro';

import {
  FYG_2021_LINK,
  FYG_2022_LINK,
  FYG_2023_LINK,
  FYG_2024_LINK,
  FYG_2025_LINK,
} from "../../utils/utils";
---

<Layout>
  <Header>
    <h1>DataSoc's Sponsorships</h1>
    <p>DataSoc wouldn't be DataSoc without the amazing companies we've worked with throughout our journey as a society. With more and more data-oriented decisions and predictions made everyday, the demand for talented Data Science graduates is growing.
    </p>
    <p>It's our long term goal to help our members become as capable they can be, and it wouldn't be possible without the continued support from industry.
    </p>
    <p>Interested in sponsoring? Reach out to external@unswdata.com
    </p>
  </Header>
    <Sponsorships />
  </div>

</Layout>