---
// src/pages/matplotlib-questions.astro
import Layout from '../../../layouts/Layout.astro';
import Header from '../../../components/Header.astro';
import MatplotlibQuestions from '../../../components/Excellr/MatplotlibQuestions.tsx';
---

<Layout>
  <Header>
    <a href="/resources" class="text-sm hover:underline">&larr; Back</a>
    <h1>Python for Data Science Practice Questions</h1>
    <p>Test your knowledge with these practice questions covering essential Python libraries for data science.</p>
  </Header>

  <MatplotlibQuestions client:only="react" />
</Layout>